/*fonts*/
@font-face { font-family: GalaxiePolarisCondensed-Book; src: url('../fonts/GalaxiePolarisCondensed-Book.otf'); }
@font-face { font-family: GalaxiePolarisCondensed-Bold; font-weight: bold; src: url('../fonts/GalaxiePolarisCondensed-Bold.otf'); }
@font-face { font-family: GalaxiePolarisCondensed-Light; font-weight: bold; src: url('../fonts/GalaxiePolarisCondensed-Light.otf'); }

body{ height: 100%; }


#stage{
    /*height: 100%;
    width: 100%;
    float: left;
    display: block;*/
}

#nav{
    width: 255px;
    height: 100%;
    background-color: #333333;
    float: left;
    z-index: 99 !important;
    border-bottom: 5px solid #e51b2d;
    font: normal 22px  GalaxiePolarisCondensed-Book;
    line-height: 22px;
    text-align: center;
    margin: 0;
    z-index:99;
}

    #nav h2{
        font: normal 22px  GalaxiePolarisCondensed-Book;
        color: #fff;
        text-transform: uppercase;
    }

    #nav input[type="text"], #nav input[type="password"] {
        padding: 10px;
        font-size: 16px;
    }

    #nav button{
        background: #e51b2d;
        background-image: -webkit-linear-gradient(top, #e51b2d, #94001e);
        background-image: -moz-linear-gradient(top, #e51b2d, #94001e);
        background-image: -ms-linear-gradient(top, #e51b2d, #94001e);
        background-image: -o-linear-gradient(top, #e51b2d, #94001e);
        background-image: linear-gradient(to bottom, #e51b2d, #94001e);
        -webkit-border-radius: 3;
        -moz-border-radius: 3;
        border-radius: 3px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        border: none;
    }

    #nav span.navitem, .navitem-home, #nav span{
        color: #fff; text-decoration: none; display: block;
        padding: 20px 0px 20px 0px;
    }

    #nav span.grey{
        color: #666666;
    }

    #panel {
        float:left;
        height:795px;
        position:relative;
        width: 0px;
        background-color: #333333;
        /*background-color: green;*/
        border-bottom: 5px solid #e51b2d;
        z-index: 100;
    }
        #close{
            display: none;
            position: relative;
            top: 80px;
            left: 650px;
        }

        #nav-services, #nav-how, #nav-training, #nav-info, #nav-my, #nav-live{ display: none; }

        .navbox{
            position: relative;
            left: 20px;
            top: 10px;
            height: 500px;
            width: 650px;
        }

        .selectbox{
            margin: 0px 30px 30px 50px;
            display: block;
            height: 234px;
            width: 236px;
            background: transparent url('../img/select-box.png') top left no-repeat;
            float: left;
        }
            .selectbox-content{}
            .selectbox-content img{
                position: relative;
                top: 3px;
                left: 3px;
                border: 5px solid #1f1f1f;
                height: 81px;
                width: 220px;
            }

            .selectbox-content h2{
                font: 15px normal Arial, sans-serif;
                color: #fff;
                text-transform: uppercase;
                margin: 8px 0px 0px 8px;
            }

            .selectbox-content p{
                font: 13px normal Arial, sans-serif;
                color: #999999;
                margin: 8px 0px 0px 8px;
                width: 220px;
            }

    #arrow{

        position: absolute;
        top: 372px;
        left: -27px;
    }



#main{
    /*background-color: blue;*/
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 255px;


    /*border: thin solid lime;*/
  /*  background: transparent url('../img/splash.jpg') top left no-repeat; */
}
    .content{ margin: 40px 40px 40px 20px; }
    .topbar{
        height: 60px;
        width: 975px;
        background: transparent url('../img/serviceshop-top-bar.jpg') top left no-repeat;
    }

    /*.content h1{
        font: normal 18px GalaxiePolarisCondensed-Book;
        text-transform: uppercase;
        text-align: left;
        color: #999999;
    }*/
    h1{
        font: normal 25px GalaxiePolarisCondensed-Book;
        text-transform: uppercase;
        text-align: left;
        color: #999999;
        padding-bottom: 10px;
    }
    .content h1{
        font: normal 25px GalaxiePolarisCondensed-Book;
        text-transform: uppercase;
        text-align: left;
        color: #999999;
        padding-bottom: 10px;
    }

    .navbox h1{
        font: normal 30px GalaxiePolarisCondensed-Book;
        color: #fff;
        text-transform: uppercase;
        text-align: left;
        /*margin: 8px 0px 0px 8px;*/
    }

    h3, legend{
        text-transform: uppercase;
        font-family: GalaxiePolarisCondensed-Bold !important;
        color: #c00;
        font-size: 18px;
        padding: 0; margin: 0;
        padding: 8px 0px;
        margin-bottom: 14px;
    }
    .content .section-title{ color: #00ae9e; font-family: GalaxiePolarisCondensed-Bold; }

    #priceboard-left{ width: 360px; float: left; padding-top: 15px;}
    #priceboard-right{ width: 360px; float: left; padding-top: 15px;}
    #priceboard-full{ padding: 20px;}
    dl { width: 350px; font-family: GalaxiePolarisCondensed-Bold; color: #333; padding: 0; margin: 0; display: block;}
    dt { float: left; width: 300px; overflow: hidden; white-space: nowrap; padding: 0; margin: 0;}
    dd { color: #c00; font-size: 20px;float: left; width: 50px; overflow: hidden; padding: 0; margin: 0;}


    #priceboard-full dl { width: 700px; font-family: GalaxiePolarisCondensed-Bold; color: #333; padding: 0; margin: 0;}
    #priceboard-full dt { float: left; width: 550px; overflow: hidden; white-space: nowrap; padding: 0; margin: 0;}
    #priceboard-full dd { color: #c00; font-size: 20px;float: left; width: 150px; overflow: hidden; padding: 0; margin: 0;}

    #priceboard-other dl { width: 300px; font-family: GalaxiePolarisCondensed-Bold; color: #333; padding: 0; margin: 0; display: block;}
    #priceboard-other dt { float: left; width: 250px; overflow: hidden; white-space: nowrap; padding: 0; margin: 0;}
    #priceboard-other dd { color: #c00; font-size: 20px;float: left; width: 50px; overflow: hidden; padding: 0; margin: 0;}

    dt span{
        text-transform: uppercase;
        font-size: 20px;
    }

    #priceboard-other dt span{ font-size: 16px; }
    dt span.name:after { font-size: 8px; color: #666; content: " .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  . .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  ." }

    .cents{color: #c00; font-size: 10px; position: relative; bottom: 8px; left: 3px; text-transform: uppercase;}
    .name{

        text-transform: uppercase;
        font-size: 20px;


    }

   .desc{
        clear: both;
        text-transform: uppercase;
        font-family: GalaxiePolarisCondensed-Light;
        font-size: 12px;
        display: block;
    }
/*    .service{
        width: 400px;
        overflow: hidden; white-space: nowrap;
    }*/

/*    .dots{
        font-size: 8px;
        color: #666;
    }

    .service-name{
        float: left;
        text-transform: uppercase;
        font-size: 20px;
        overflow: hidden; white-space: nowrap;
        display: inline-block;

    }

    .service-price{
        color: #c00;
        font-size: 20px;
        text-align: left;


    }

    .service-name:after {
        font-size: 8px;
        display: inline-block;
        color: #666;
        float: right;
        overflow: hidden; white-space: nowrap;

        content: " .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  ." ;
    }



    .service-desc{
        clear: both;
        text-transform: uppercase;
        font-family: GalaxiePolarisCondensed-Light;
        font-size: 12px;
        display: block;
    }
*/


/*    .cents{
        font-size: 10px;
        position: relative;
        bottom: 8px;
        left: 3px;
    }
*/
    .sidebar{ float: right;}
    .sidebar a{ text-decoration: none;}
    .maincontent{ float: left; width: 723px;}

    .othercontent{ float: left; width: 1000px;}

    .dyk-box{
        background-color: #333333;
        width: 205px;
        padding: 25px 10px 10px 10px;
        color: #ccc;
        font-family: arial, sans-serif;
        font-size: 12px;
        position: relative;
        bottom: 20px;
        z-index: -1;
    }
    .dyk-box ul{ padding: 0px 0px 0px 10px; }
    .dyk-box li{ padding: 5px 0px;}

    .videobox{
        color: #fff;
        text-transform: uppercase;
        font-family: GalaxiePolarisCondensed-Light;
        font-size: 40px;
        line-height: 38px;
    }

    .videobox strong{
        text-transform: uppercase;
        font-family: GalaxiePolarisCondensed-Bold;
    }

    .videotitle{
        position: relative;
        top: 135px;
        left: 8px;
    }

    strong.fbv{font-size: 36px;}

    #snowsports-service-videobox{ height:243px; width: 225px; background: url('../img/wintersteiger-vid-box.png') top left no-repeat; z-index: 100;}
    #hockey-service-videobox{ height:243px; width: 225px; background: url('../img/blackstone-vid-box.png') top left no-repeat; z-index: 100;}
    #bike-service-videobox{ height:243px; width: 225px; background: url('../img/bikefitting-vid-box.png') top left no-repeat; z-index: 100;}
    #other-service-videobox{ height:243px; width: 225px; background: url('../img/cresting-vid-box.png') top left no-repeat; z-index: 100;}
    #steam-service-videobox{ height:243px; width: 225px; background: url('../img/steamer-vid-box.png') top left no-repeat; z-index: 100;}
    #racquet-service-videobox{ height:243px; width: 225px; background: url('../img/racquet-vid-box.png') top left no-repeat; z-index: 100;}

    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }

    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }

    .modalDialog > div {
        /*width: 855px;*/
        width: 1000px;
        position: relative;
        margin: 10% auto;
        /*padding: 5px 20px 13px 20px;*/
        /*border-radius: 10px;*/
        /*background: #000;*/
        background: transparent;

    }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 50px;
        position: absolute;
        right: -15px;
        text-align: center;
        top: -10px;
        width: 50px;
        height: 50px;
        font-size: 35px;
        text-decoration: none;
        font-weight: normal;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

    .close:hover { background: #00d9ff; }
